body{
    margin: 0;
	padding: 0;
	background: #2d2535;
    font-family: sans-serif;
    border-radius: 10px;
}
.menu{
    /* background-color: rgba(0, 0, 0, .3); */
    border-radius: 15px;
    width: 100%;
    /* margin-left: 70px; */
}
.menu ul{
    top: 40px;
    left: 80px;
    display: inline-flex;
    margin: 50px -5px;
}
.logo img{
    width: 50px;
    margin-top: -8px;
    padding-right: 15px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color:  #b2b1b1;
    cursor: pointer;
}
.active{
    color: #19dafa !important;
}
.btn {
    top: 40px;
    right: 100px;
    position: absolute;
    flex: 1 1 auto;
    margin: 5px;
    padding: 2px 2px;
    text-align: center;
    transition: 0.5s;
    display: block;
    background-size: 100% auto;
    box-sizing: border-box;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 30px;
    background-image: linear-gradient(to right, #c54cb1 0%, #2e9ea8 60%, #090a75);
    z-index: 1;
}
.btn:hover {
	color: #fff;
}
.btn span{
    align-items: center;
	background: #222024;
    border-radius: 30px;
    padding: 12px 8px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 90%;
}
.btn:hover span {
	background: transparent;
}

.content{
    width: 90%;
    height: 80%;
    top: 22%;
    left: 110px;
    position: relative;
    color: white;
}
.description{
    width: 50%;
    top: 25%;
    position: absolute;
}
.description h2{
    color: #72767a;
}
.picture{
    width: 50%;
    float: right;
    position: relative;
    top: 180px;
}
.picture img{
    width: 100%;
}
.data{
    width: 100%;
    top: 150px;
    position: absolute;
}
.data ul{
    position: absolute;
    width: auto;
    color: #419497;
    left: -25px;
}

.data ul.timeline li{   
    color: rgb(34, 77, 126);
}
.data ul.timeline li:before{
    content: "";
    display: inline-block;
    height: 31em;
    width: 1px;
    background: rgb(34, 77, 126);
    margin: 0;
    padding: 0;
    position: absolute;
    left: 22px;
    top: -0.4em;
    z-index: -1;
}
.data ul.timeline:before{
    content: "●";
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    left: -1.4em;
    top: -1em;
    color: rgb(34, 77, 126);
}
.data ul.timeline:after{
    content: "●";
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    left: -1.4em;
    top: 2em;
    color: rgb(34, 77, 126);
}

.btn-mb{
    left: 130%;
    position: absolute;
    margin: 0 5px;
    padding: 10px 30px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    background: teal;
    cursor: pointer;
}
.btn-mb:hover {
    -webkit-animation: hover 1200ms linear 2 alternate;
    animation: hover 1200ms linear 2 alternate;
}
.btn-mb:active {
    -webkit-animation: active 1200ms ease 1 alternate;
    animation: active 1200ms ease 1 alternate; 
    background: #5F9BE0;
  }
.quick-links{
    left: 0;
    top: 900px;
    position: absolute;
    background: linear-gradient(to right, #c54cb1 0%, #2e9ea8 60%, #2f32d3);;
}
.quick-links ul{
    display: inline-flex;
    margin: 20px auto;
    text-align: center;
}
.quick-links ul li{
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
.quick-links ul li .fa{
    font-size: 25px;
    color: black;
}
.quick-links ul li p{
    margin-top: 15px;
    font-size: 10px;
    color: black;
}
.social-icons{
    right: 72px;
    top: 800px;
    position: absolute;
}
.social-icons ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
}
.social-icons ul li a{
    color: white;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    padding: 7px;
    display: block;
}
